<div class="centertitle">
  <h1 class="titulo">{{title}} </h1>
  <h2 class="subtitulo">{{subtitle}} </h2>
  <h2>{{subtitle2}} </h2>
</div>

<marquee
  class="marquee"
  style="font-family:Book Antiqua; color: #FF0000"
  bgcolor="#000000"
  scrolldelay="60"
>VIVA EL FUNKY!!!</marquee>